
.container {
    width: 100%; /* Full width */
    max-width: 850px; /* Set a max-width if needed */
    background-color: #fff;
    padding-top: 20px;
    padding-left: 60px;
    padding-bottom: 20px;
    border-radius: 5px;
    margin: 0 !important;
}



.form-row {
    display: flex;
    justify-content: space-between;

}

.form-group {
    margin-top: 10px;
    width: 48%; /* Each input field takes up 48% of the row, leaving a small gap between them */
}

label {
    display: block;
}

input[type="text"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

label{
    font-size: 12px;
}
button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}