{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Booking</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'services/bookStyle.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'home/index.css'%}">

</head>

<body>
    {% include 'home/navbar.html' %}

    <div class="tb-container">
        <h1 class="title">Booking Request</h1>
        <hr class="sep">
        <table>
            <thead>
                <tr>
                    <th scope="col">Vehicle</th>
                    <th scope="col">Request from</th>
                    <th scope="col">PickUp Date</th>
                    <th scope="col">PickUp Time</th>
                    <th scope="col">DropUp Date</th>
                    <th scope="col">PickUp Time</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Status</th>
                    <th scope="col" style="width: 80px;">Fees</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            {% for hist in history%}
            <tbody>
                <tr>
                    <td data-label="Vehicle">
                        <div class="img-container">
                            <a href="/services/detail/{{hist.vehicle_id_id}}?{{hist.brand}}{{hist.model}}"> <img
                                    src="{{hist.vehicle_id.image1.url}}" alt="{{hist.brand}}"> </a>

                        </div>
                    </td>
                    <td data-label="RequestFrom">{{hist.user_id}}</td>
                    <td data-label="PickDate">{{hist.pickDate}}</td>
                    <td data-label="PickTime">{{hist.pickTime}}</td>
                    <td data-label="DropDate">{{hist.dropDate}}</td>
                    <td data-label="DropTime">{{hist.dropTime}}</td>
                    <td data-label="Duration">{{hist.booking_duration}} Hours</td>
                    <div>
                        <td data-label="Status">
                            {% if hist.status == "Processing" %}
                            <h4 class="st processing"> Unpaid</h4>
                            {% elif hist.status == "Accepted" %}
                            <h4 class="st processing" style="width:90%; font-size: 14px;"> Awaiting Pay for <br> Rs
                                {{hist.total_price}}</h4>
                            {% elif hist.status == "Paid" %}
                            <h4 class="st processing" style="background-color: rgb(3, 131, 3); color: white;">
                                {% for payment in custPay  %}
                                {% if payment.booking_id_id == hist.id %}
                                Rs {{ payment.total_paid_amount }} Received
                                {% endif %}
                                {% endfor %}
                            </h4>
                            {% elif hist.status == "Cancelled" %}
                            <h4 class="st cancelled"> {{hist.status}}</h4>
                            {% elif hist.status == "Booked" %}
                            <h4 class="st booked"> {{hist.status}}</h4>
                            {% elif hist.status == "Done" %}
                            <h4 class="st done"> {{hist.status}}</h4>
                            {% elif hist.status == "Decline" %}
                            <h4 class="st done"> {{hist.status}}</h4>
                            {% endif %}
                        </td>


                        <td data-label="Fees" style="width: 80px;">
                            {% if hist.status == "Paid" %}
                            {% for fees_item in fees_list %}
                            {% if hist.id == fees_item.booking_id %}
                            Rs {{ fees_item.fees }}
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                        </td>




                        <td data-label="Action">
                            {% if hist.status == "Processing" %}
                            
                            <div
                                style="height: 50px; display: flex; flex-direction: column; row-gap: 10px; justify-content: center;">
                                <a href="{% url 'services:request_payment' booking_id=hist.id %}"
                                    class="pay-button">Request Pay</a>

                            </div>
                            <div
                                style="height: 50px; display: flex; flex-direction: column; row-gap: 10px; justify-content: center;">
                                <a href="{% url 'services:cancel_booking_by_vendor' booking_id=hist.id %}"
                                    class="pay-button" style="background-color: red;">Cancel</a>

                            </div>
                            {% elif hist.status == "Accepted" %}
                            <div
                                style="height: 90px; display: flex; flex-direction: column; row-gap: 10px; justify-content: center;">
                                <a href="{% url 'services:cancel_booking_by_vendor' booking_id=hist.id %}"
                                    class="cancel-button">Cancel</a>
                            </div>
                            {% elif hist.status == "Done" %}
                            <button class="cancel-button" disabled data-booking-id="{{ hist.id }}">Cancel
                                Booking</button>
                            {% elif hist.status == "Cancelled" %}

                            {% elif hist.status == "Booked" %}
                            <button class="cancel-button" disabled data-booking-id="{{ hist.id }}">Cancel
                                Booking</button>
                            {% elif hist.status == "Decline" %}
                            <button class="cancel-button" disabled data-booking-id="{{ hist.id }}">Cancel
                                Booking</button>
                            {% endif %}
                        </td>

                    </div>

                </tr>

            </tbody>
            {% endfor %}
        </table>
        <table>
            <thead>
                <tr>
                    <th scope="col" style="width: 200px;">Total Receivable :</th>
                    <th scope="col"></th>
                    <th scope="col"></th>

                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">Rs {{ total_pay }}</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
        </table>
    </div>


    <footer class="footer-distributed">

        <div class="footer-left">

            <h3><span class="highlight">Elite</span>Rental</h3>

            <p class="footer-links">
                <a href="{% url 'home:index' %}">Home</a>
                ·
                <a href="{% url 'services:index' %}">Services</a>
                ·
                <a href="{% url 'contact:contact_index' %}">Contact</a>
                ·
                <a href="{% url 'about:about_index' %}">About</a>
                ·
                <a href="{% url 'faq:faq_index' %}">Faq</a>

            </p>

            <p class="footer-company-name">eliterental &copy; 2024</p>
        </div>

        <div class="footer-center">

            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Naxal</span> Kathmandu, Nepal</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>+1 555 123456</p>
            </div>

            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:rentalsu.elite@gmail.com">rentalsu.elite@gmail.com</a></p>
            </div>

        </div>

        <div class="footer-right">

            <p class="footer-company-about">
                <span>About the company</span>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>

            <div class="footer-icons">

                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>

            </div>

        </div>

    </footer>

</body>

</html>