{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{car_pk.name}}</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'services/detail.css' %}">

    <style>
        /* Add this CSS in your stylesheet or within a style tag in your HTML head */
        .popup {
            display: flex;
            align-items: center;
            justify-content: center;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
        }

        .popup-content {
            background: white;
            padding: 20px;
            border-radius: 5px;
            text-align: center;
        }

        .popup-close {
            margin-top: 10px;
        }

        #showcase {
            position: relative;
            height: 90vh;
        }

        #thumbnail-container {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            display: flex;

            padding: 10px;
            background-color: #00000000;
        }

        .thumbnail {
            width: 100px;
            height: 100px;
            object-fit: cover;
            cursor: pointer;
            margin-right: 10px;
            border: 5px solid rgb(255, 255, 255);
            box-shadow: 5px 3px black;
        }

        .star-rating {
            font-size: 24px;
        }

        .star {
            cursor: pointer;
        }

        .selected {
            color: gold;
        }

        h1 {
          color: #88B04B;
          font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
          font-weight: 900;
          font-size: 28px;
          margin-bottom: 10px;
        }

        i {
        color: #abdd61;
        font-size: 100px;
        line-height: 200px;
        margin-left:-15px;
      }
    </style>
</head>

<body>


    {% include 'home/navbar.html' %}
    <section id="showcase">
        <div class="container" style="height: 95vh;">
            <img id="mainImage" src="{{car_pk.image1.url}}" class="img-fluid">
        </div>
        <div id="thumbnail-container">
            <img class="thumbnail" src="{{car_pk.image1.url}}" onclick="updateMainImage('{{car_pk.image1.url}}')">
            <img class="thumbnail" src="{{car_pk.image2.url}}" onclick="updateMainImage('{{car_pk.image2.url}}')">
            <img class="thumbnail" src="{{car_pk.image3.url}}" onclick="updateMainImage('{{car_pk.image3.url}}')">
            <img class="thumbnail" src="{{car_pk.image4.url}}" onclick="updateMainImage('{{car_pk.image4.url}}')">
            <img class="thumbnail" src="{{car_pk.image5.url}}" onclick="updateMainImage('{{car_pk.image5.url}}')">
        </div>
    </section>


    <div class="main-detail-container">
        <div class="panel1">
            <h1 class="title">{{car_pk.brand}} {{car_pk.model}}</h1>
            <h6>{{review_count}} Reviews</h6>
            <hr class="dash-hr">
            <div class="ft-container" style="justify-content: space-around;">
                <div class="ft">
                    <img src="{% static 'services/avatar.png' %}"><span>{{car_pk.capacity}} Passenger</span>
                </div>
                <div class="ft">
                    <img src="{% static 'services/settings.png' %}"><span>{{car_pk.transmission}}</span>
                </div>

                {% if 'car'  in car_pk.category %}
                <div class="ft">
                    <img src="{% static 'services/pump.png' %}"><span>{{car_pk.carFuel}}</span>
                </div>

                <div class="ft">
                    <img src="{% static 'services/boot.png' %}"><span>{{car_pk.bootCapacity}} litres </span>
                </div>
                {% endif %}
            </div>

            <hr class="dash-hr">
            <h5 class="sub-title">Description</h5>
            <p>{{car_pk.description}}</p>



            {% if 'bike' not in car_pk.category and 'cycle' not in car_pk.category %}
            <h5 class="sub-title">Included</h5>
            <div class="full-ft-container">
                {% for feature in car_pk.features %}
                <div class="s-ft">✔ {{feature}}</div>
                {% endfor %}
            </div>
            {% endif %}





            <hr class="large-sep">
            <h5 class="sub-title">Reviews</h5>

            <!-- need loop -->
            {% for uR in reviews %}
            <div class="review">
                <div class="picture-panel">
                    <div class="profile-pic">
                        {% for profile in user_profiles_with_reviews %}
                        {% if profile.user_id == uR.user_id_id %}

                        <img src="{{ profile.user_photo.url }}" alt="{{ profile.user_id }}">
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="text-panel">
                    <div class="name-dt">
                        <h4 class="tp-n">{{ uR.name }}</h4>
                        <h5 class="tp-dt">{{ uR.timeStamp }}</h5>
                    </div>
                    <div class="rv">
                        <p>{{ uR.message }}</p>
                    </div>
                    <h5 class="tp-dt">Ratings:{{ uR.rating }} star</h5>
                </div>
            </div>
            <hr class="dash-hr">
            {% endfor %}

            <!-- end loop -->

            {% if user_has_used_the_vehicle %}
            <h5 class="sub-title">Write a Review</h5>
            <div class="reviewForm-container">
                <h5 class="form-label forRV">Message</h5>
                <form method="POST" action="/services/submit-review/{{ car_pk.id }}">
                    {% csrf_token %}
                    <textarea class="form-entry msg" type="message" name="message"></textarea>

                    <div class="divided">
                        <div class="i-f1">
                            <h5 class="form-label forRV">Full Name</h5>
                            <input class="review-entry" type="text" name="name">
                        </div>
                        <div class="i-f2">
                            <h5 class="form-label forRV">Email Address</h5>
                            <input class="review-entry" type="email" name="email">
                        </div>

                        <!-- Rating field -->
                        <div class="i-f3">
                            <h5 class="form-label forRV">Rating</h5>
                            <div class="star-rating" data-rating="0">
                                <span class="star" data-value="1">&#9733;</span>
                                <span class="star" data-value="2">&#9733;</span>
                                <span class="star" data-value="3">&#9733;</span>
                                <span class="star" data-value="4">&#9733;</span>
                                <span class="star" data-value="5">&#9733;</span>
                            </div>
                            <input type="hidden" name="rating" id="rating" value="0">
                        </div>

                        <div class="row btn-p">

                            <button class="booking-btn post" type="submit" name="SendReview">Post Review</button>
                        </div>
                    </div>
                </form>
            </div>
            {% endif %}



        </div>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const stars = document.querySelectorAll('.star');
                const ratingInput = document.getElementById('rating');

                stars.forEach(star => {
                    star.addEventListener('click', function () {
                        const value = parseInt(this.getAttribute('data-value'));
                        ratingInput.value = value;
                        highlightStars(value);
                    });
                });

                function highlightStars(value) {
                    stars.forEach(star => {
                        const starValue = parseInt(star.getAttribute('data-value'));
                        if (starValue <= value) {
                            star.classList.add('selected');
                        } else {
                            star.classList.remove('selected');
                        }
                    });
                }
            });
        </script>




        <div class="panel2">

            <div class="book-form">
                <div class="p-cont">
                    <h1> <span>Rs</span>{{car_pk.price}}</h1>
                    <h5 class="d-f">Per Day</h5>
                </div>
                <form method="POST" {% url 'services:detail' car_id=car_pk.id %}>
                    {% csrf_token %}
                    <div class="column">

                        <div class="row">
                            <h5 class="form-label">Full Name</h5>
                            <input class="form-entry" type="text" name="name" placeholder="Emily Clarke">
                        </div>
                        <div class="row">
                            <h5 class="form-label">Email Address</h5>
                            <input class="form-entry" type="email" name="email" placeholder="example@email.com">
                        </div>
                        <div class="row">
                            <h5 class="form-label">Phone Number</h5>
                            <input class="form-entry" type="text" name="number" placeholder="9841000000">
                        </div>
                        <div class="row">
                            <h5 class="form-label">Pickup Address</h5>
                            <input class="form-entry date" type="text" name="pickupAddress" value="{{car_pk.location}}"
                                disabled>
                        </div>
                        <div class="row">
                            <h5 class="form-label">Pickup Date</h5>
                            <input class="form-entry" type="date" name="pickDate">
                        </div>
                        <div class="row">
                            <h5 class="form-label">Pickup Time</h5>
                            <input class="form-entry" type="time" name="pickTime">
                        </div>
                        <div class="row">
                            <h5 class="form-label">Drop Off Address</h5>
                            <input class="form-entry" type="text" name="dropAddress" value="{{car_pk.location}}"
                                disabled>
                        </div>
                        <div class="row">
                            <h5 class="form-label">Drop Off Date</h5>
                            <input class="form-entry" type="date" name="dropDate">
                        </div>
                        <div class="row">
                            <h5 class="form-label">Drop Off Time</h5>
                            <input class="form-entry" type="time" name="dropTime">
                        </div>
                        {% if user.is_authenticated%}
                        {% if check_verify.is_verified %}
                        <div class="row btn-c">
                            <button class="booking-btn book" type="submit" name="BookInstantly">Book Instantly</button>
                        </div>
                        {% else %}
                        <div class="row btn-c">
                            <button class="booking-btn book" style="background-color: rgb(173, 72, 72);"
                                name="BookInstantly" type="button" onclick="redirectToProfile()">Click here to verify
                                before booking</button>
                        </div>
                        {% endif %}
                        {% else %}

                        <div class="row btn-c">
                            <button class="booking-btn book" type="submit" name="BookInstantly" disabled>Book
                                Instantly</button>
                        </div>

                        <h4 style="color: red; margin-top: 7px; font-weight: 600;">*Please Login to rent vehicle</h4>
                        <br>
                        {% endif %}


                    </div>
                </form>
            </div>

        </div>
    </div>

    {% if messages %}
    <div class="popup">
        <div class="popup-content">
            <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
                <i class="checkmark">✓</i>
            </div>
            <h1 style="margin-bottom: 40px; margin-top: 20px;">{% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}</h1>
           
            <!-- Add a link to a page -->
            <p><a href="{% url 'services:booking' %}" style="padding: 15px; background-color: rgb(30, 83, 145); color: white; border-radius: 5px; margin-top: 20px; text-decoration: none;">Please go to my booking page for payment.</a></p>

        </div>
    </div>
    {% endif %}

    <script>
        function redirectToProfile() {
            // Assuming 'profileUrl' is the URL you want to redirect to
            var profileUrl = "{% url 'accounts:profile' %}";
            window.location.href = profileUrl;
        }

        function updateMainImage(imageUrl) {
            document.getElementById('mainImage').src = imageUrl;
        }
        document.addEventListener("DOMContentLoaded", function () {
            setTimeout(function () {
                setValuesFromSearchData();
            }, 100);

        });



        function showPopup() {
            var popup = document.getElementById('popup');
            popup.style.display = 'block';
        }

        function closePopup() {
            var popup = document.getElementById('popup');
            popup.style.display = 'none';
        }

        // Function to set values in respective fields
        function setValuesFromSearchData() {
            // Retrieve the searchData cookie
            var searchDataCookie = getCookie("searchData");

            // Check if the cookie exists
            if (searchDataCookie) {
                // Decode the URL-encoded JSON string
                var decodedSearchData = decodeURIComponent(searchDataCookie);

                // Parse the JSON string to an object
                var searchDataObj = JSON.parse(decodedSearchData);

                // Format date and time strings
                var formattedFromDate = formatDate(searchDataObj.fromDate);
                var formattedUntilDate = formatDate(searchDataObj.untilDate);
                var formattedFromTime = searchDataObj.fromDate.split("T")[1];
                var formattedUntilTime = searchDataObj.untilDate.split("T")[1];



                // Set values in respective fields
                document.querySelector('.form-entry[name="pickDate"]').value = formattedFromDate;
                document.querySelector('.form-entry[name="pickTime"]').value = formattedFromTime;

                document.querySelector('.form-entry[name="dropDate"]').value = formattedUntilDate;
                document.querySelector('.form-entry[name="dropTime"]').value = formattedUntilTime;
            }
        }

        // Function to format date as "yyyy-MM-dd"
        function formatDate(dateString) {
            var date = new Date(dateString);
            if (!isNaN(date.getTime())) {
                var year = date.getFullYear();
                var month = ("0" + (date.getMonth() + 1)).slice(-2);
                var day = ("0" + date.getDate()).slice(-2);
                return year + "-" + month + "-" + day;
            } else {
                // Handle invalid date values
                return "";
            }
        }



        // Function to get the value of a cookie by name
        function getCookie(cookieName) {
            var name = cookieName + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var cookieArray = decodedCookie.split(';');

            for (var i = 0; i < cookieArray.length; i++) {
                var cookie = cookieArray[i].trim();
                if (cookie.indexOf(name) === 0) {
                    return cookie.substring(name.length, cookie.length);
                }
            }

            return null;
        }

        // Call the function on page load
        setValuesFromSearchData();
    </script>






</body>

</html>