{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Services</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'services/services.css' %}"> 
    <link rel="stylesheet" type="text/css" href="{%static 'home/index.css'%}">


</head>
<body>
    {% include 'home/navbar.html' %}

    <section id="headingSection">
        <div class="container">
            <center>
            <h1 class="title">Find vehicle by type</h1>
            <hr class="sep">
            </center>
        </div>
    </section>

    <section id="typeBox">
       <div class="container">

       	<!-- row1 -->
       	<div class="row">
    <div class="servicescard">
        
            <h3 class="img-text">Car</h3>
            <a href="">
                <img src="{% static 'services/Sedan.jpg' %}">
            </a>
    </div>
    <div class="servicescard">
    	<h3 class="img-text">Bike</h3>
    	<a href=""><img src="{% static 'services/20190316102058_2019-Yamaha-MT-15-front.jpg' %}"></a>
    </div>
    <div class="servicescard">
    	<h3 class="img-text">Bicycle</h3>
    	<a href=""><img src="{% static 'services/OIP.jpeg' %}"></a>
    </div>
</div>


    






  

</body>
</html>
	